body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

p,
b {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

.menu-set, .mob-contacts__item, .mob-social-set, .nav__list, .section-list, .portfolio-list, .social-list, .footer-address__list {
  list-style: none;
}

.logo, .menu-set__link, .mob-contacts__link, .mob-social__link, .nav__link, .contacts-list__link, .portfolio-card, .social-list__link, .footer__logo, .footer-address__link {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.btn {
  cursor: pointer;
  border-radius: 4px;
}

.main-btn {
  margin-top: 30px;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  color: #ffffff;
  border: 0;
  box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.15);
  letter-spacing: 0.06em;
  background-color: #2196f3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-btn:hover, .main-btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.03em;
  color: #000000;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: calc(31 / 26);
  }
}

.logo--accent {
  color: #2196f3;
}

.header {
  position: relative;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #e5e5e5;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  padding-top: 15px;
  padding-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .header__logo {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

/*-------------------------------Mobile menu-------------------------------- */
.container-menu {
  display: none;
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 0;
  left: 0;
  padding-top: 60px;
  padding-bottom: 48px;
  padding-left: 42px;
  padding-right: 42px;
  background-color: #ffffff;
}

.container-menu.is-open {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

@media screen and (min-width: 768px) {
  .container-menu {
    display: none;
    padding-bottom: 28px;
  }
}

.menu-set__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-set__link {
  font-size: 40px;
  line-height: calc(47 / 40);
  color: #212121;
}

@media screen and (max-width: 479px) {
  .menu-set__link {
    font-size: 18px;
  }
}

.mob-contacts__set {
  margin-top: auto;
}

.mob-contacts__item:last-child {
  margin-top: 32px;
}

.mob-contacts__link {
  color: currentColor;
  font-size: 24px;
  line-height: calc(28 / 24);
}

@media screen and (max-width: 479px) {
  .mob-contacts__link {
    font-size: 16px;
  }
}

.mob-contacts__link--accent {
  font-size: 34px;
  color: #2196f3;
}

@media screen and (max-width: 479px) {
  .mob-contacts__link--accent {
    font-size: 16px;
  }
}

.mob-social-set {
  margin-top: auto;
}

.mob-social__item {
  display: inline-flex;
}

.mob-social__item:not(:last-child) {
  margin-right: 5px;
  padding-right: 5px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

@media screen and (min-width: 479px) {
  .mob-social__item:not(:last-child) {
    margin-right: 10px;
    padding-right: 10px;
  }
}

.mob-social__link {
  font-size: 18px;
  line-height: calc(22 / 18);
  color: #2196f3;
}

@media screen and (max-width: 479px) {
  .mob-social__link {
    font-size: 12px;
  }
}

/*----------------------------------------------------------------------------- */
.nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav {
    display: block;
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .nav {
    margin-left: 95px;
  }
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

.contacts-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .contacts-list {
    display: flex;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-list {
    flex-direction: column;
  }
}

.contacts-list__item {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .contacts-list__item:not(:first-child) {
    margin-left: 50px;
  }
}

.contacts-list__link {
  display: flex;
  align-items: center;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__link:hover, .contacts-list__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .contacts-list__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-list__link--pre {
    padding-top: 21px;
    padding-bottom: 5px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-list__link--post {
    padding-top: 5px;
    padding-bottom: 21px;
  }
}

.contacts-list__icon {
  width: 16px;
  height: 16px;
  padding: 0;
  vertical-align: middle;
  margin-right: 10px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__item:hover .contacts-list__icon,
.contacts-list__item:focus .contacts-list__icon {
  fill: #2196f3;
}

.current {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .current::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
  }
}

.menu-button {
  position: relative;
  z-index: 3;
  display: inline-flex;
  margin: 0;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  transition: fill 250ms linear;
}

.menu-button:hover, .menu-button:focus {
  fill: #2196f3;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.section-list {
  display: inline-flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  margin-top: -15px;
}

@media screen and (min-width: 480px) {
  .section-list {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .section-list {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .section-list {
    margin-bottom: 50px;
  }
}

.section-item {
  margin-top: 15px;
}

.section-item:not(:last-child) {
  margin-right: 8px;
}

.section-btn {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  border-style: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-btn:hover, .section-btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
  background-color: #2196f3;
}

@media screen and (min-width: 480px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * 30px);
    margin-left: calc(-1 * 30px);
  }
}

.portfolio-item {
  flex-basis: calc((100% - 30px * 3) / 3);
  background: #ffffff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover, .portfolio-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (max-width: 479px) {
  .portfolio-item:not(:first-child) {
    margin-top: 30px;
  }
}

@media screen and (min-width: 480px) {
  .portfolio-item {
    margin-left: 30px;
    margin-top: 30px;
  }
}

.portfolio-card {
  color: inherit;
  display: block;
}

.card-overlay {
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 479px) {
  .portfolio-list__img {
    max-width: 100%;
  }
}

.card-overlay-text {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  overflow: auto;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover .card-overlay-text,
.portfolio-card:focus .card-overlay-text {
  transform: translateY(-100%);
}

.card-description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card-description--padding-bottom {
    padding-bottom: 56px;
  }
}

.portfolio-title {
  font-size: 18px;
  line-height: 2;
  text-align: left;
  letter-spacing: 0.06em;
}

.portfolio-description {
  margin-top: 5px;
  font-size: 16px;
  line-height: 1.87;
}

@media screen and (max-width: 479px) {
  .responsive-list__img {
    max-width: 100%;
  }
}

@media screen and (max-width: 479px) and (min-width: 479px) and (min-device-pixel-ratio: 2), screen and (max-width: 479px) and (min-resolution: 192dpi), screen and (max-width: 479px) and (min-resolution: 2dppx) {
  .responsive-list__img {
    min-width: 100%;
  }
}

.social-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: #2196f3;
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: #ffffff;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

@media screen and (min-width: 768px) {
  .footer__sections {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .footer__sections {
    justify-content: flex-start;
  }
}

.footer__address-section {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer__address-section {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
  }
}

@media screen and (min-width: 1200px) {
  .footer__address-section {
    align-items: flex-start;
    text-align: left;
  }
}

.footer__logo {
  color: #ffffff;
}

.footer-address {
  margin-top: 20px;
  font-style: normal;
}

.footer-address__item:not(:last-child) {
  margin-bottom: 10px;
}

.footer-address__link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address__link:hover, .footer-address__link:focus {
  color: #2196f3;
}

.footer-address__link--main-color {
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .footer__subscribe-section {
    margin-top: 60px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer__subscribe-section {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
  }
}

@media screen and (min-width: 1200px) {
  .footer__subscribe-section {
    align-items: flex-start;
  }
}

.footer__subscribe-text {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__social-list {
  margin-top: 20px;
}

.footer__social-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer__social-link:hover, .footer__social-link:focus {
  background-color: #2196f3;
}

.footer__social-icon {
  fill: #ffffff;
}

.footer__mailing-section {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .footer__mailing-section {
    width: 100%;
  }
}

@media screen and (max-width: 1199px) {
  .footer__mailing-section {
    margin-top: 60px;
    flex-grow: 2;
  }
}

@media screen and (min-width: 767px) {
  .footer__mailing-section {
    display: inline-flex;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__mailing-section {
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.footer__mail-form {
  margin-top: 20px;
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .footer__mail-form {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .footer__mail-form {
    display: flex;
  }
}

.footer__mailing-input {
  padding: 14px 15px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer__mailing-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 767px) {
  .footer__mailing-input {
    width: 100%;
  }
}

@media screen and (max-width: 1199px) {
  .footer__mailing-input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__mailing-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__mailing-input {
    width: 358px;
  }
}

.footer__mailing-button {
  position: relative;
  min-width: 200px;
  padding: 10px;
  padding-left: 29px;
  text-align: left;
}

@media screen and (max-width: 1199px) {
  .footer__mailing-button {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer__mailing-button {
    margin-left: 12px;
    margin-top: 0;
  }
}

.footer__mailing-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
  fill: #ffffff;
}
/*# sourceMappingURL=portfolio-main.css.map */