.features-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * #{$main-margin});
  margin-top: calc(-1 * #{$main-margin});
}

.features-list__item {
  margin-left: $main-margin;
  margin-top: $main-margin;
  flex-basis: calc((100% - #{$main-margin} * 4) / 4);
  &:not(:first-child) {
    margin-left: $main-margin;
    margin-top: $main-margin;
  }
}

.features-list__thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;

  background-color: #f5f4fa;
}

.features-list__icons {
  width: 70px;
  height: 70px;
}

.features-list__title {
  margin-top: 30px;
  @extend %overlay-text;
}

.features-list__text {
  margin-top: 10px;
}
