.menu-button {
  position: relative;
  z-index: 2;
  display: inline-flex;
  margin: 0;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  // transform: fill 2500ms linear;

  &:hover,
  &:focus {
    fill: $accent-color;
  }
  & .icon-cross {
    display: none;
  }
  &.is-open .icon-cross {
    display: block;
  }
  &.is-open .icon-menu {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}
